[Unit]
Description=Airflow Scheduler
After=network.target redis-server.service

[Service]
User={{ airflow_user }}
Group={{ airflow_group }}
EnvironmentFile={{ airflow_home }}/.env.airflow
WorkingDirectory={{ airflow_home }}
ExecStart={{ airflow_venv }}/bin/airflow scheduler

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target