PATH="{{ airflow_venv }}/bin:{{ ansible_env.PATH }}"
AIRFLOW_CONFIG="{{ airflow_home }}/config/airflow.cfg"
AIRFLOW_HOME="{{ airflow_home }}"
AIRFLOW__CORE__EXECUTOR="CeleryExecutor"
AIRFLOW__CORE__AUTH_MANAGER="airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager"
AIRFLOW__CORE__EXECUTION_API_SERVER_URL="http://localhost:8080/execution/"
AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT="120"
AIRFLOW__CORE__DAG_FILE_PROCESSOR_TIMEOUT="180"
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION="true"
AIRFLOW__CORE__DEFAULT_TIMEZONE="Europe/Berlin"
AIRFLOW__CORE__ENABLE_XCOM_PICKLING="true"
AIRFLOW__CORE__FERNET_KEY={{FERNET_KEY}}
AIRFLOW__CORE__LOAD_EXAMPLES="true"
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="postgresql+psycopg2://{{ META_DB_ROLE }}:{{ META_DB_PASS }}@{{ DB_HOST_PRIVATE }}:{{ DB_PORT }}/{{ META_DB_NAME }}"
AIRFLOW__DATAHUB__ENABLED="false"
AIRFLOW__EMAIL__DEFAULT_EMAIL_ON_FAILURE="false"
AIRFLOW__EMAIL__DEFAULT_EMAIL_ON_RETRY="false"
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK="true"
AIRFLOW__API_AUTH__JWT_SECRET={{JWT_SECRET}}
AIRFLOW__CELERY__BROKER_URL="redis://localhost:6379/0"
AIRFLOW__CELERY__RESULT_BACKEND="redis://localhost:6379/1"
AIRFLOW__CELERY__WORKER_PRECHECK="true"